.page .card{
     width: 80%; 
     margin-top: 30px
}

.page .row {
    height: 42rem;
}
.page img {
    height: 42rem;
    object-fit: fill; 
}

.card-title {
    margin-bottom: 25px;
}

#description {
    height: 100%
}

#description .col-4, .col-8 {
    height: 65px;
}


.page span {
    font-size: 22px;
    word-spacing: 2px;
    
}
