.goBackMenu button {
    background-color: #FFE81F;
}

.page .card{
     width: 80%; 
     margin-top: 0px
}

.page .row {
    height: 48rem;
}
.page img {
    height: 48rem;
    object-fit: fill; 
}

.card-title {
    margin-bottom: 25px;
}

#description {
    height: 100%
}

#description .col-4, .col-8 {
    height: 75px;
}

.page span {
    font-size: 28px;
    word-spacing: 2px;
    
}
