.navbar {
    width: 100%;
    height: 70px;
    background-color: #1B1B25;
    border-bottom: 0.2px solid #44445c;
    padding: 0;
}

.navbar-brand > img {
    height: 80px;
    width: 110px;
    position: absolute;
    top: 0%
    
}

.dropdown {
    position: relative;
    top: 2%
}
.dropdown > .btn {
    background-color: #FFE81F;
    color: black;
    border: none;
}
.dropdown > .btn:hover {
    color: #FFE81F;
    background-color: #1B1B25;
    border: 1px solid #FFE81F;
    outline: none;
}

.dropdown-menu {
    background-color: #FFE81F;
    color: black;
    border: none;
}
.dropdown-item:hover {
    color: #FFE81F;
    background-color: #1B1B25;
    border: 1px solid #FFE81F;
    outline: none;
}


