body {
    margin: 0;
    color: #FFE81F;
    background-color: #1B1B25
}
.navbar {
    width: 100%;
    height: 100px;
    background-color: #1B1B25
}

.dropdown > .btn {
    background-color: #FFE81F;
    color: black;
    border: none;
}
.dropdown > .btn:hover {
    color: #FFE81F;
    background-color: #1B1B25;
    border: 1px solid #FFE81F;
    outline: none;
}

.dropdown-menu {
    background-color: #FFE81F;
    color: black;
    border: none;
}
.dropdown-item:hover {
    color: #FFE81F;
    background-color: #1B1B25;
    border: 1px solid #FFE81F;
    outline: none;
}

h2 {
    margin-left: 20px;
    margin-top: 30px;
}

.carrousel {
    display: flex;
    overflow: scroll;
    overflow-y: hidden;
    
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #1B1B25
}
::-webkit-scrollbar-thumb  {
    background-color: #44445c;
} 
.card-group {
    margin-bottom: 25px;
}
.card {
    width: 18rem;
    background-color: #1B1B25;
    margin: 20px 2.5px 0px 20px;
    border: 1px solid #FFE81F;
}

.card-buttons > .btn {
    background-color: #FFE81F;
    color: black;
    border: none;
}


.card-body > .btn:hover {
    color: #FFE81F;
    background-color: #1B1B25;
    border: 1px solid #FFE81F;
    outline: none;
}